p, h2, h4, div, ol, ul, li {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

input, button {
	outline: none;
	font-family: inherit;
	-webkit-appearance: none;
}

h2, h4 {
	font-weight: 400;
}

li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-size: 14px;
	font-family: "STHeiti", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}