.calendar-transition {
	transform-origin: center top;
	transition: all .3s cubic-bezier(.23, 1, .32, 1);
}
.calendar-enter, .calendar-leave {
	opacity: 0;
	transform: scaleY(0);
}

.calendar-panel {
	width: 360px;
	height: 420px;
	position: absolute;
	top: 40px;
	color: #333;
	border-radius: 2px;
	border: 1px solid #D3DCE6;
	box-shadow: 0 2px 6px #CCC;
	/* background-color: #FFF; */
	user-select: none;
}

.calendar-panel-header {
	display: flex;
	justify-content: space-between;
	margin: 20px;

	& .btn {
		color: #99A9BF;
		font-size: 12px;
	}

	& span {
		cursor: pointer;
	}
}

.year {
	flex: 1;
	color: #999;
	font-size: 16px;
	cursor: pointer;
}
.prev-arrow {
	width: 15px;
	height: 15px;
	margin-right: 30px;
	cursor: pointer;
	border: 1px solid #999;
	border-bottom-width: 0;
	border-left-width: 0;
	transform: rotate(-45deg) translateY(10px);
}
.next-arrow {
	width: 15px;
	height: 15px;
	margin-right: 23px;
	cursor: pointer;
	border: 1px solid #999;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(45deg) translateY(-5px);
}

.calendar-panel-content {
	min-width: 224px;
	margin: 25px;

	& table {
		width: 100%;
	}

	& tr {
		display: flex;
		justify-content: space-between;
	}

	& th {
		color: #A5A5A5;
		text-align: center;
		line-height: 36px;
	}

	& td {
		margin: 2px 0;
		color: #4E647B;
		text-align: center;
		line-height: 36px;
		cursor: pointer;
	}
}

.calendar-header {
	display: flex;
	justify-content: space-between;
	color: #A5A5A5;

	& span {
		width: 45px;
		line-height: 36px;
		text-align: center;
	}
}

.calendar-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	& a {
		width: 44px;
		/* height: 36px; */
		/* margin-right: 2px; */
		margin-bottom: 10px;
		color: inherit;
		line-height: 36px;
		text-align: center;
	}

	& .available:hover {
		color: #20A0FF;
	}

	& .prev-month, & .next-month {
		color: #DDD;
		cursor: default;
	}

	& .today {
		color: #20A0FF;
	}

	& .selected {
		color: #FFF;
		background-color: #20A0FF;
	}

	& .selected:hover {
		color: #FFF;
	}
}

.calendar-year {
	position: relative;
}

.year-shadow-before {
		width: 100%;
		position: absolute;
		top: 0;
		height: 60px;
		pointer-events: none;
		background: linear-gradient(to bottom, #FFF, transparent);
	}

.year-shadow-after {
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 60px;
		pointer-events: none;
		background: linear-gradient(to top, #FFF, transparent);
	}

.calendar-year ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 300px;
	margin: 40px 20px 20px;
	/* position: relative; */
	overflow: auto;



	& li {
		/* width: 80px; */
		margin-right: 17px;
		margin-bottom: 50px;
		font-size: 18px;
		cursor: pointer;
		text-align: center;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.calendar-month ul {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	height: 300px;
	margin: 40px 20px 20px;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	& li {
		/* margin-right: 30px;
		margin-bottom: 30px; */
		width: 80px;
		/* margin: 30px auto; */
		margin-bottom: 90px;
		text-align: center;
		cursor: pointer;
		font-size: 20px;
	}
}