.calendar-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: opacity .3s;
}
.calendar-enter .calendar-container, .calendar-leave .calendar-container {
	transform: scale(1.1);
}
.calendar-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, .4);
}
.calendar-enter, .calendar-leave {
	opacity: 0;
}
.calendar-container {
	width: 320px;
	/* min-height: 500px; */
	/* margin: auto; */
	margin-left: -160px;
	position: absolute;
	left: 50%;
	box-shadow: 0 14px 45px rgba(0, 0, 0, .25), 0 10px 18px rgba(0, 0, 0, .22);
	background-color: #FFF;
	user-select: none;
	transition: transform .3s;
}

.calendar-header {
	height: 72px;
	padding: 20px;
	color: rgba(255, 255, 255, 0.7);
	background-color: #0884CE;

	& p {
		cursor: pointer;
	}

	& h2 {
		margin-top: 10px;
		font-size: 36px;
		cursor: pointer;
	}

	& .active {
		color: #FFF;
	}

	& .up {
		animation: up .3s;
	}

	& .down {
		animation: down .3s;
	}
}

@keyframes up {
	0% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes down {
	0% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

.select-month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
	margin: 15px 0;
	text-align: center;
}
.arrow {
	width: 8px;
	height: 8px;
	padding: 3px;
	cursor: pointer;
	border: 1px solid #4E647B;
	border-right: none;
	border-bottom: none;
	transform: rotate(-45deg);
}
.arrow:nth-of-type(2) {
	transform: rotate(135deg);
}

.select-date {
	width: 300px;
	margin: 0 auto;
}
.week-header {
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	color: #A5A5A5;
	font-size: 12px;
}
.select-date tbody {
	margin-top: 10px;
	text-align: right;

	& tr {
		display: flex;
		justify-content: space-around;

		& td {
			width: 36px;
			margin: 2px 0;
			color: #4E647B;
			text-align: center;
			line-height: 36px;
			cursor: pointer;
		}

		& .today {
			color: #0884CE;
			font-weight: bold;
		}

		& .selected {
			color: #FFF;
			border-radius: 100%;
			background-color: #0884CE;
		}

		& .not {
			opacity: 0;
			cursor: default;
		}

		& td:hover {
			position: relative;
			z-index: 1;
			color: #FFF;

			&::after {
				content: "";
				width: 36px;
				height: 36px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: 100%;
				background-color: rgba(8, 132, 206, 0.7);
				animation: scale .3s;
			}
		}
	}
}
@keyframes scale {
	0% {
		transform: scale(0.2);
	}
	100% {
		transform: scale(1);
	}
}

.select-year {
	height: 300px;
	overflow: hidden;
	overflow-y: scroll;

	& li {
		font-size: 18px;
		line-height: 40px;
		cursor: pointer;
		text-align: center;
	}

	& li.active {
		/* margin: 5px 0; */
		color: #0884CE;
		font-size: 22px;
		font-weight: 800;
	}
}
.select-year::-webkit-scrollbar {
	display: none;
}

.calendar-footer {
	padding: 15px 10px 10px;
	text-align: right;

	& button {
		padding: 8px 20px;
		color: #0884CE;
		cursor: pointer;
		line-height: 1.714;
		border: none;
		background-color: transparent;
	}

	& button:hover {
		color: #FFF;
		animation: fade-in .5s ease both;
	}
}

@keyframes fade-in {
	0% {
		background-color: rgba(9, 148, 231, .1);
	}
	100% {
		background-color: rgba(9, 148, 231, .5);
	}
}